{% extends './base.jinja2' %}


{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
{{ render_form(form) }}
<br>
<p>Não possui uma conta? <a href="{{ url_for('auth.register') }}">Sign Up</a></p>

{% endblock %}
