{% extends 'base.jinja2' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}{{current_user.username}} Profile{% endblock %}


{% block content %}

<h1>Olá, {{ current_user.username}}! Esse é seu perfil</h1>

<div class="mb-3">
        {% if current_user.is_student==False %}
Logado com privilégios de Administrador, lembre-se de que com grandes poderes vem grandes responsabilidades!            
	{% endif %}
        {% if current_user.is_student!=False %}
Bem vindo aluno, na ComS você finalmente vai conseguir seu estágio de prática pedagógica!
	{% endif %}

</div>
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}

