{% extends 'base.jinja2' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}{{current_user.username}} Profile{% endblock %}


{% block content %}

<h1>Hello, {{ current_user.username}}! Esse é seu perfil</h1>

<div class="mb-3">
    <label for="formFileDisabled" class="form-label d-inline-flex p-2">Disabled file input example</label>
    <input class="form-control" type="file" id="formFileDisabled" disabled>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}

