{% extends 'base.jinja2' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
<h1>{% block title %}Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  <form method="POST" enctype="multipart/form-data" class="d-inline-flex">
    {{ render_form(form) }}
    <div>
      <button class="btn btn-outline-success" type="submit">Upload</button>
    </div>
  </form>
</div>



<div class="mb-3 p-5">
</div>

<div class="mb-3 ">
  <form method="POST" enctype="multipart/form-data" class="d-inline-flex ">
    <div class="mb-3-required">
      <label for="formFileMultiple" class="form-label d-flex">Faça o upload dos seus documentos</label>
      <input class="form-control d-flex col-md-auto " type="file" id="formFileMultiple" multiple>
    </div>
</div>
<div>
  <button class="btn btn-outline-success" type="submit">Upload</button>
</div>
</form>
</div>



<!--form action="/" method="post">
    {{ form.username }}
    {{ form.recaptcha }}
  -->


</form>


{% endblock %}