{% extends "base.jinja2" %}
{% block title %}{{super()}}Index{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #133E79;
    }
</style>

{% endblock %}

{% block content %}
<h1>
    Seja Bem Vindo!!!
    <img src="{{ url_for('static', filename='img/Logo_UnB.png') }}" alt="UnB" width="38" height="25">
</h1>

<h2>
    Esse é o ComS: <p>
    Um Sistema de Integração entre Estudantes de Licenciaturas e Escolas de Ensino Básico <p/> 
</h2>

<class="important">
    <p>

        ComS: daqui você vai sair Com eStagio!
    </p>


    {% if current_user.is_authenticated %}
    <h4>
        <a href="{{ url_for('schools.new') }}">Registrar Escola</a>
    </h4>
    <h4>
        <a href="{{ url_for('linkages.new') }}">Gravar vínculo de estudante-escola</a>
    </h4>
    <h4>
        <a href="{{ url_for('solicitations.new') }}">Aplique para uma escola de seu interesse</a>
    </h4>
    {% endif %}
    {% endblock %}

    {% block scripts %}
{{ super() }}
<!-- The contents of myscript.js will be loaded inside the script tag -->

{% endblock %}         
